body{
    background-color: #EDE8F5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.posts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  
}

.posts-list article {
  background-color: #efdfdf;
  border-radius: 10px;
  border: 1px solid #7091E6;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* post card style for authors */
.image-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #7091E6;
  margin-right: 10px;
}

/* category filter lable style */
.category-label{
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    color: #333;
}

/* the header style of the Posts title at the top of the page */
.post-header{
    font-family: Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

/* styles and alignment for the pagination buttons */
.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-container button {
  background-color: #EDE8F5;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #8697C4;
  border-radius: 5px;
  margin: 7px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-container button:hover {
  background-color: #ADBBDA;
}

/* animation for changing pages */
.fade-enter {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 500s ease-out;
}

.fade-exit-active {
  opacity: 0;
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.slide-right-exit {
  transform: translateY(0);
}

/* Deatils button style */
.details-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.details-button {
  display: block;
  background-color: #9faac9;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 1.5px solid #406bd8;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

}